.contactForm {
  padding-top: 50px;
  padding-left: clamp(10px, 7vw, 100px);
  padding-right: clamp(10px, 7vw, 100px);
}

.submitButton {
  background-color: #6496be;
  border: #6496be;
  margin-top: 10px;
}

.contactTitle {
  color: #6496be;
  text-align: center;
}
