.contactForm {
  padding-top: 50px;
  padding-left: clamp(10px, 7vw, 100px);
  padding-right: clamp(10px, 7vw, 100px);
}

.submitButton {
  background-color: var(--primary-color);
  border: #cc99ff;
  margin-top: 10px;
}

.contactTitle {
  color: var(--primary-color);
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
