
.detail{
  display: flex;
  align-items: center;

  }

.bio{
  width: 500px;
  font-family: 'Anton', sans-serif;
  font-family: 'Roboto', sans-serif;
  color:  #BBD3E7;

}


.name{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:  #BBD3E7;
  

}

.homepage{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

