.detail{
  display: flex;
  gap: 50px;
  align-items: center;
  }

.bio{
  width: 500px;

}

.homepage{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cirleimg{
  clip-path: circle();
}
.social-media{
  border: 1px solid red;
}
.social-icon{
  margin-right: 20px;
}