
.detail{
  display: flex;
  gap: 50px;
  align-items: center;
  }

.bio{
  width: 500px;
  font-family: 'Anton', sans-serif;
  font-family: 'Roboto', sans-serif;
  color:  #6496be;

}


.name{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:  #6496be;
  

}

.homepage{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cirleimg{
  clip-path: circle();
}
.social-media{
  border: 1px ;
}
.social-icon{
  margin-right: 20px;
}
